name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]
        podman-version: ['4.3.1', '4.9.5', '5.4.2']

    runs-on: ubuntu-latest
    container:
      image: "docker.io/library/python:${{ matrix.python-version }}-bookworm"
      # cgroupns needed to address the following error:
      # write /sys/fs/cgroup/cgroup.subtree_control: operation not supported
      options: --privileged --cgroupns=host
    steps:
    - uses: actions/checkout@v6
    - name: Install podman-4.3.1
      if: matrix.podman-version == '4.3.1'
      run: |
        set -e
        apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install -y podman
    - name: Install dependencies for podman-4.9.5
      if: matrix.podman-version == '4.9.5'
      shell: bash
      run: |
        DEBIAN_FRONTEND=noninteractive apt update -y && apt install -y buildah
        BASE_URL="https://github.com/p12tic/podman-compose-test-data/raw/refs/heads/master/deb_files"
        DEB_FILES=(
          "${BASE_URL}/deb-files-podman-4.9.5/podman_4.9.5+compose1-1_amd64.deb"
          "${BASE_URL}/deb-files-crun-1-21/crun_1.21-1_amd64.deb"
        )
        TMPDIR=$(mktemp -d)
        trap 'rm -rf "$TMPDIR"' EXIT
        for url in "${DEB_FILES[@]}"; do
          # strip everything up to the last slash
          filename=${url##*/}
          echo "Downloading $url ..."
          curl -fsSL -o "$TMPDIR/$filename" "$url"
        done
        echo "Installing packages ..."
        apt-get update -qq
        apt-get install -y -qq "$TMPDIR"/*.deb
    - name: Install dependencies for podman-5.4.2
      if: matrix.podman-version == '5.4.2'
      shell: bash
      run: |
        DEBIAN_FRONTEND=noninteractive apt update -y && apt install -y buildah
        BASE_URL="https://github.com/p12tic/podman-compose-test-data/raw/refs/heads/master/deb_files"
        DEB_FILES=(
          "${BASE_URL}/deb-files-podman-5.4.2/podman_5.4.2+composetest-1_amd64.deb"
          "${BASE_URL}/deb-files-crun-1-21/crun_1.21-1_amd64.deb"
          "${BASE_URL}/deb-files-netavark-1-14/netavark_1.14.0-1_amd64.deb"
          "${BASE_URL}/deb-files-aardvark-dns-1-14/aardvark-dns_1.14.0-1_amd64.deb"
        )
        TMPDIR=$(mktemp -d)
        trap 'rm -rf "$TMPDIR"' EXIT
        for url in "${DEB_FILES[@]}"; do
          # strip everything up to the last slash
          filename=${url##*/}
          echo "Downloading $url ..."
          curl -fsSL -o "$TMPDIR/$filename" "$url"
        done
        echo "Installing packages ..."
        apt-get update -qq
        apt-get install -y -qq "$TMPDIR"/*.deb
    - name: Install other test dependencies
      run: |
        set -e
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r test-requirements.txt
    - name: Run integration tests
      run: |
        python -m unittest discover -v tests/integration
      env:
        TESTS_DEBUG: 1
    - name: Run unit tests
      run: |
        coverage run --source podman_compose -m unittest discover tests/unit
    - name: Report coverage
      run: |
        coverage combine
        coverage report --format=markdown | tee -a $GITHUB_STEP_SUMMARY
